body{
    background-color: antiquewhite;
}
main.container{

display: flex;
 grid-template-columns: repeat(4, 1fr);
width: 90%;
margin: 0 auto;
background-color: lightgreen;
padding: 20px;
border: 1px solid black;
justify-content: space-evenly;
gap: 15px; 
  

}
.caja1{
    border: 4px solid black;
    background-color: blue;
    text-align: center;
    line-height: 150px


}

.caja2{
    border: 4px solid black;
    background-color:black;
    text-align: center;
    line-height: 150px


}
.caja3{
    border: 4px solid black;
    background-color: green;
    text-align: center;
    line-height: 150px


}
.caja4{
    border: 4px solid black;
    background-color: blue;
    text-align: center;
    line-height: 150px


}